/* define main font family */
@font-face {
    font-family: vazir;
    src: url('../fonts/Vazir.ttf');
}

@font-face {
    font-family: wonderbar;
    src: url('../fonts/Wonderbar.otf');
}

@font-face {
    font-family: yekan;
    src: url('../fonts/BYekan.ttf');
}