
.wrapper{
    font-family: vazir;
    background-size: cover;
    background-position: center;
    width: 500px; 
    background-color: transparent;
    border: 2px solid rgba(255,255,255, 2) ;
    box-shadow: 0 0 10px rgba(0,0,0, 2) ;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 40px auto;
}
.wrapper h1{
    font-size: 35px;
    text-align: center;
}

.wrapper .input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input_box  input{
    font-family: vazir;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #030a49;
    border-radius: 40px;
    font-size: 16px;
    color: #000f96;
    padding:20px  45px 20px 20px;
}
.input_box input::placeholder{
    color: #000f96;

}
.input_box i{
    position: absolute;
    right: 20px;
    top: 18px;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .btn {
    font-family: vazir;
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 3px black;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;

}

.wrapper .register_link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;

}
.register_link p a{
   color: #000f96; 
   text-decoration: none;
   font-weight: 600;

}
.register_link p a:hover {
    text-decoration: underline;

}
